export(Briggs)
export(GaussianPlume)
export(PasquillGifford.exact)
export(PasquillGifford.spline)
export(PasquillGifford)
export(VenkatramHorst)
importClassesFrom(sp,SpatialLines)
importClassesFrom(sp,SpatialLinesDataFrame)
importClassesFrom(sp,SpatialPoints)
importClassesFrom(sp,SpatialPointsDataFrame)
importClassesFrom(sp,SpatialPolygons)
importClassesFrom(sp,SpatialPolygonsDataFrame)
